<context>
    <objects>
        <object>Mercury</object>
        <object>Earth</object>
        <object>Mars</object>
        <object>Jupiter</object>
        <object>Saturn</object>
        <object>Uranus</object>
        <object>Neptune</object>
        <object>Venus</object>
    </objects>
    <attributes>
        <attribute>small</attribute>
        <attribute>medium</attribute>
        <attribute>large</attribute>
        <attribute>close</attribute>
        <attribute>far</attribute>
    </attributes>
    <relations>
        <relation obj="0" attr="0" />
        <relation obj="0" attr="3" />
        <relation obj="1" attr="0" />
        <relation obj="1" attr="3" />
        <relation obj="2" attr="0" />
        <relation obj="2" attr="3" />
        <relation obj="3" attr="2" />
        <relation obj="3" attr="4" />
        <relation obj="4" attr="2" />
        <relation obj="4" attr="4" />
        <relation obj="5" attr="1" />
        <relation obj="5" attr="4" />
        <relation obj="6" attr="1" />
        <relation obj="6" attr="4" />
        <relation obj="7" attr="0" />
        <relation obj="7" attr="3" />
    </relations>
</context>