@reference "../../css/index.css";
@reference "../../css/colors.css";
@reference "../../css/animations.css";

@layer components {
    .color-slider {
        writing-mode: vertical-lr;
        direction: rtl;
        vertical-align: middle;

        --checkered-color: var(--surface-dim);

        background-image:
            linear-gradient(45deg, var(--checkered-color) 26%, transparent 26%), 
            linear-gradient(135deg, var(--checkered-color) 26%, transparent 26%),
            linear-gradient(45deg, transparent 75%, var(--checkered-color) 75%),
            linear-gradient(135deg, transparent 75%, var(--checkered-color) 75%);
        background-size: 16px 16px;
        background-position: 0 0, 8px 0, 8px -8px, 0px 8px;

        @apply relative isolate w-4 border border-outline rounded-full box-content cursor-pointer;

        &:has(:focus-visible) {
            outline-offset: -1px;
            @apply outline-none ring-2;
        }

        &::after {
            content: "";
            top: calc((1 - var(--position)) * (100% - var(--spacing) * 4));
            background:
                linear-gradient(var(--thumb-color), var(--thumb-color)),
                linear-gradient(white, white);
            box-shadow: 0 0 0 1px lightgray;

            @apply absolute w-4 h-4 left-0 box-border border-4 border-white rounded-full z-30 pointer-events-none select-none;
        }

        .background {
            @apply absolute py-2 inset-0 w-4 h-full rounded-full pointer-events-none z-20 bg-red-400 overflow-hidden;
            
            &::before {
                content: "";
                
                @apply absolute py-2 top-0 left-0 w-4 h-2 pointer-events-none z-20 bg-transparent;
            }
            
            &::after {
                content: "";

                @apply absolute py-2 bottom-0 left-0 w-4 h-2 pointer-events-none z-20 bg-transparent;
            }
        }

        input {
            @apply absolute inset-0 w-4 h-full appearance-none border border-transparent rounded-full cursor-pointer outline-none;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 0;
                height: 0;
                border: none;
                opacity: 0;
            }

            &::-moz-range-thumb {
                width: 0;
                height: 0;
                border: none;
                background: transparent;
                opacity: 0;
            }
        }
    }
}