@reference "../../css/index.css";
@reference "../../css/colors.css";
@reference "../../css/animations.css";

@layer components {
    .range-slider {
        @apply relative isolate bg-surface-lite-dim-container h-4 border border-outline rounded-full cursor-pointer box-content;

        &:hover {
            @apply bg-surface-dim-container;
        }

        &::before {
            content: "";
            left: calc(var(--position-bottom) * (100% - var(--spacing) * 4));
            right: calc((100% - var(--spacing) * 4) - var(--position-top) * (100% - var(--spacing) * 4));
            @apply absolute h-4 rounded-full bg-primary pointer-events-none select-none;
        }

        input {
            @apply absolute inset-0 w-full appearance-none bg-transparent h-4 border border-transparent rounded-full cursor-pointer;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 0;
                height: 0;
                border: none;
                opacity: 0;
            }

            &::-moz-range-thumb {
                width: 0;
                height: 0;
                border: none;
                background: transparent;
                opacity: 0;
            }
        }

        .range-slider-bottom-thumb, .range-slider-top-thumb {
            content: "";
            @apply absolute w-4 h-4 border-4 transition-[border-width] duration-75 box-border border-primary -translate-x-1/2 rounded-full bg-on-primary pointer-events-none select-none;
        }

        .range-slider-bottom-thumb {
            left: calc(var(--spacing) * 2 + var(--position-bottom) * (100% - var(--spacing) * 4));
        }

        .range-slider-top-thumb {
            left: calc(var(--spacing) * 2 + var(--position-top) * (100% - var(--spacing) * 4));
        }

        &:hover .range-slider-bottom-thumb.on-top,
        &:hover .range-slider-top-thumb.on-top {
            @apply border-3;
        }
    }
}