@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-primary-dim: var(--primary-dim);
  --color-primary-lite: var(--primary-lite);
  --color-on-primary: var(--on-primary);
  --color-on-primary-dim: var(--on-primary-dim);
  --color-secondary: var(--secondary);
  --color-on-secondary: var(--on-secondary);
  --color-secondary-dim: var(--secondary-dim);
  --color-on-secondary-dim: var(--on-secondary-dim);

  --color-surface: var(--surface);
  --color-on-surface: var(--on-surface);
  --color-on-surface-muted: var(--on-surface-muted);

  --color-surface-dim: var(--surface-dim);
  --color-on-surface-dim: var(--on-surface-dim);
  --color-on-surface-dim-muted: var(--on-surface-dim-muted);

  --color-surface-container: var(--surface-container);
  --color-on-surface-container: var(--on-surface-container);
  --color-on-surface-container-muted: var(--on-surface-container-muted);
  
  --color-surface-dim-container: var(--surface-dim-container);
  --color-on-surface-dim-container: var(--on-surface-dim-container);
  --color-on-surface-dim-container-muted: var(--on-surface-dim-container-muted);

  --color-surface-light-dim-container: var(--surface-light-dim-container);

  --color-outline: var(--outline);
  --color-outline-variant: var(--outline-variant);

  --color-danger: var(--danger);
  --color-on-danger: var(--on-danger);

  --color-danger-dim: var(--danger-dim);
  --color-on-danger-dim: var(--on-danger-dim);

  --color-shade: var(--shade);
  --color-backdrop: var(--backdrop);


  --animate-slideUpIn: slideUpIn 200ms ease-in-out forwards;
  --animate-slideDownOut: slideDownOut 200ms ease-in-out forwards;
  --animate-fadeIn: fadeIn 200ms ease-in-out forwards;
  --animate-fadeOut: fadeOut 200ms ease-in-out forwards;

  @keyframes slideUpIn {
    0% {
      transform: translateY(50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slideDownOut {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(50%);
      opacity: 0;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@font-face{
  font-family: "Gabarito";
  src:local("Gabarito"),
  url('./assets/fonts/Gabarito-VariableFont_wght.ttf') 
}

html {
  padding: 0;
  margin: 0;
  height: 100vh;
  height: 100dvh;
  max-height: 100vh;
  max-height: 100dvh;
  box-sizing: border-box;
  overflow: hidden;

  font-size: 15px;
  font-family: "Gabarito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* This is needed because Safari is weird (and way too bold) */
  font-synthesis: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  touch-action: pan-x pan-y;
}

#root {
  height: 100%;
}

.thin-scrollbar {
  scrollbar-color: var(--outline) transparent;
  scrollbar-width: thin;
}

.thin-scrollbar::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  --thumb: var(--outline-variant);

  background: var(--thumb);
  border-radius: 0.2rem;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  --thumb: var(--outline);
}

.thin-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.hidden-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.with-logo::before {
  content: "";
  background-image: url("/images/logo_light.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  @apply block w-5 h-5;
}

@media (prefers-color-scheme: dark) {
  .with-logo::before {
    background-image: url("/images/logo_dark.svg");
  }
}

.oa-list-item {
  content-visibility: auto;
  contain-intrinsic-size: auto calc(var(--spacing) * 8.5);
}

.concept-list-item {
  content-visibility: auto;
  contain-intrinsic-size: auto calc(var(--spacing) * 20);
}

.site-header-layout {
  grid-template-columns: 1fr auto 1fr;
  @apply min-h-13;
}

@media (display-mode: window-controls-overlay) {
  .title-bar {
    left: env(titlebar-area-x, 0);
    top: env(titlebar-area-y, 0);
    width: env(titlebar-area-width, 100%);
    min-height: env(titlebar-area-height, 33px);
  }

  .site-header-layout {
    margin-left: env(titlebar-area-x, 0);
    margin-top: env(titlebar-area-y, 0);
    width: env(titlebar-area-width, 100%);
    min-height: max(calc(var(--spacing) * 13), env(titlebar-area-height, 33px));

    grid-template-columns: auto 1fr;
  }

  .draggable-region {
    -webkit-app-region: drag;
    app-region: drag;
  }

  .not-draggable-region {
    -webkit-app-region: no-drag;
    app-region: no-drag;
  }

  .safe-area {
    padding-top: env(titlebar-area-height, 33px);
  }
}